* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito",
  Arial,
  Helvetica,
  sans-serif;
}

h1 {
  margin: 32px 0;
  color: rgb(0, 0, 0);
  font-size: 30px;
  text-align: center;
}
.complete {
  text-decoration: line-through;
  opacity: 0.2;
}

.todo-form {
  margin-bottom: 32px;
  text-align: center;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 4px 4px 4px;
  border: 2px solid ;
  width: 320px;
  color: rgb(0, 0, 0);
}

.todo-button {
  margin-left: 20px;
  padding: 14px;
  border: solid 2px;
  border-radius: 4px 4px 4px 4px;
  cursor: default;
  text-transform: capitalize;
  margin-bottom: 4px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: rgb(8, 7, 7);
  padding: 12px;
  border: solid 2px;
  border-radius: 4px 4px 4px 4px ;
  width: 450px;
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-left: 15px;
  color: rgb(0, 0, 0);
}

.edit-icon {
  color: rgb(0, 0, 0);
}

.backgroundColor {
  background-color: skyblue;
  width: 600px;
  margin: auto;
  border: 2px solid rgb(39, 7, 114);
  border-radius: 4px 4px 4px 4px;
}